/*
Error: invalid property name
        on line 2 of stdin
>>   background: #fff;
   -------------------^


Load paths: 
["html/stylesheets", "bower_components", "test/fixtures"]

*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Error: invalid property name\A        on line 2 of stdin\A>>   background: #fff;\A   -------------------^\A'; }
